body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #fff
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

.nav-link {
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.logo-light {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;

}

.section-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.block-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.block-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}